body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:linear-gradient(135deg,#1d2671,#c33764);
font-family:Poppins;
transition:0.4s;
}

.calculator{
background:rgba(255,255,255,0.08);
backdrop-filter:blur(20px);
padding:25px;
border-radius:20px;
width:340px;
box-shadow:0 20px 40px rgba(0,0,0,0.5);
position:relative;
}

h2{
text-align:center;
color:white;
margin-bottom:10px;
}

.theme-toggle{
position:absolute;
right:10px;
top:10px;
border:none;
background:none;
font-size:20px;
cursor:pointer;
color:white;
}

#display{
width:100%;
height:60px;
font-size:28px;
text-align:right;
padding:10px;
border:none;
border-radius:12px;
background:#00000055;
color:white;
margin-bottom:15px;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
}

button{
height:55px;
font-size:18px;
border:none;
border-radius:12px;
cursor:pointer;
background:linear-gradient(145deg,#4e4e6a,#6161a1);
color:white;
transition:0.2s;
}

button:hover{
transform:scale(1.05);
}

.equal{
grid-row:span 2;
background:#ff5e5e;
}

.zero{
grid-column:span 2;
}


/* Light Mode */

.light{
background:linear-gradient(135deg,#ffffff,#dfe9f3);
}

.light .calculator{
background:white;
}

.light #display{
background:#eee;
color:black;
}

.light button{
background:#f1f1f1;
color:black;
}
